ADDRESS=127.0.0.1
PORT=8080
DATABASE_URL="postgres://db_username:db_password@localhost/auction_system"
SECRET=random-letters-here

FRONTEND_URL=127.0.0.1:5173

SESSION_EXPIRATION_TIME=10000

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_PHONE_NUMBER=